body {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10em;
}

thead {
    font-weight: bolder;
    background: grey;
    color: white;
}

td {
    padding: 8px, 5px;

}

tbody tr:nth-child(even) {
    background: black;
    color: white;
}